.__Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: #a4c3b2;
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
